* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/*HEADER*/
header{
    margin-bottom: 15px;
}
.discount{
    background-color: #1cd1b0;
    padding: 10px;
}
h1{
    background-color: #00669F;
    padding: 10px;
}
/*HEADER*/
/*MAIN*/
.heroes-section{
    display:flex;
    justify-content: space-around;
}
.card{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    padding-bottom: 10px;
    background-color: #f3f3f3;
    border-bottom: 1px gray solid
}
.card-images{
    display: flex;
    flex-direction: column;
    height: 280px;
}
.like{
    width: 25px;
    position: relative;
    top: 15px;
    left: 15px;
    z-index: 1;
}
.banner{
    width: 100%;
    position: relative;
    bottom: 25px;
}
.logo{
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: 74px;
    left: 100px;
}
.card-info{
    display:flex;
    flex-direction: column;
}
h2{
    text-align: center;
}
.description{
    width:80%;
    padding: 15px;
}
button{
    display: inline;
    padding: 15px 40px;
    margin:auto;
    background-color: #00669f;
    color: white;
    border: none
}
/*MAIN*/
/*FOOTER*/
footer{
    background-color: #00669F;
    display: flex;
    flex-direction: column;
}
footer p{
    margin-top: 15px;
    padding: 15px;
    color: white;
    width: 100%;
}
/*FOOTER*/

/*PHONE*/
@media(max-width: 767px){
.heroes-section{
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}
.card{
    margin-bottom: 60px;
}
footer p{
  display: flex;
  justify-content: center;
}
footer img{
    width: 60px;
    align-self: center;
}
.plus{
    color: #00669f;
    position: absolute;
    right: 5%;
    top: 750px;
    font-size: 40px;
}
.description{
    width: 100%;
}
}

/*TABLET*/
@media(min-width: 770px){
.card{
    margin-bottom: 60px;
    max-width: 350px;
    padding-bottom: 40px;
}
.heroes-section{
    flex-wrap: wrap;
}
.logo{
    left: 125px;
    bottom: 110px;
}
.plus{
    color: #00669f;
    position: absolute;
    right: 1%;
    top: 735px;
    font-size: 40px;
}
.description{
    width: 100%;
    margin-bottom: 10px;
}
footer{
  width: 100%;
    background-color: #00669F;
    flex-direction: row;
    align-items:  center;
}
footer img{
    box-sizing: border-box;
    width: 90px;
    height: 25px;
}
}